<div id="<%= dom_id speciality %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Nome:</strong>
    <%= speciality.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Descrição:</strong>
    <%= speciality.description %>
  </div>
</div>
